# ==========================================================
# Virtual Environment
# ==========================================================

venv/

# ==========================================================
# Git
# ==========================================================

.git/
.github/

# ==========================================================
# Python Cache
# ==========================================================

__pycache__/

# ==========================================================
# Test Artifacts
# ==========================================================

.pytest_cache/
tests/

# ==========================================================
# Runtime Logs
# ==========================================================

logs/